<h4>Carrier Details</h4>

<div class="form-group">
   	<label>Carrier Name</label>
    <p>{{carrier.name}}</p>
</div>
   
<div class="form-group">
   	<label>Business Number</label>
    <p>{{carrier.businessNumber}}</p>   	
</div>
   
<div class="form-group">
   	<label>Apartment or Unit # (optional)</label>
    <p>{{carrier.apartmentNumber}}</p>   	
</div>
   
<div class="form-group">
   	<label>Street Address</label>
    <p>{{carrier.streetAddress}}</p>   	
</div>
   
<div class="form-group">
   	<label>City</label>
    <p>{{carrier.city}}</p>   	
</div>
   
<div class="form-group">
   	<label>Province or State</label>
    <p>{{carrier.province}}</p>   	
</div>
   
<div class="form-group">
   	<label>Country</label>
    <p>{{carrier.country}}</p>   	
</div>
   
<div class="form-group">
   	<label>Postal or Zip Code</label>
    <p>{{carrier.postalCode}}</p>   	
</div>
   
<div class="form-group" >
   	<label>Phone Number</label>
    <p>{{carrier.phoneNumber}}</p>   	
</div>
   
<div class="form-group">
   	<label>Fax Number (optional)</label>
    <p>{{carrier.faxNumber}}</p>   	
</div>
   
<div class="form-group">
   	<label>Email Address (optional)</label>
    <p>{{carrier.emailAddress}}</p>   	
</div>
   
<div class="form-group">
   	<label>Website URL (optional)</label>
    <p>{{carrier.websiteUrl}}</p>   	
</div>