<h4>Customer Details</h4>

<div class="form-group">
   	<label>Customer Name</label>
    <p>{{customer.name}}</p>
</div>
   
<div class="form-group">
   	<label>Business Number</label>
    <p>{{customer.businessNumber}}</p>   	
</div>
   
<div class="form-group">
   	<label>Apartment or Unit # (optional)</label>
    <p>{{customer.apartmentNumber}}</p>   	
</div>
   
<div class="form-group">
   	<label>Street Address</label>
    <p>{{customer.streetAddress}}</p>   	
</div>
   
<div class="form-group">
   	<label>City</label>
    <p>{{customer.city}}</p>   	
</div>
   
<div class="form-group">
   	<label>Province or State</label>
    <p>{{customer.province}}</p>   	
</div>
   
<div class="form-group">
   	<label>Country</label>
    <p>{{customer.country}}</p>   	
</div>
   
<div class="form-group">
   	<label>Postal or Zip Code</label>
    <p>{{customer.postalCode}}</p>   	
</div>
   
<div class="form-group" >
   	<label>Phone Number</label>
    <p>{{customer.phoneNumber}}</p>   	
</div>
   
<div class="form-group">
   	<label>Fax Number (optional)</label>
    <p>{{customer.faxNumber}}</p>   	
</div>
   
<div class="form-group">
   	<label>Email Address (optional)</label>
    <p>{{customer.emailAddress}}</p>   	
</div>
   
<div class="form-group">
   	<label>Website URL (optional)</label>
    <p>{{customer.websiteUrl}}</p>   	
</div>