<h2>Customers</h2>

<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Address</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="customer in customers">
			<td>{{customer.name}}</td>
			<td><span ng-show="customer.apartmentNumber">#{{customer.apartmentNumber}} - </span>{{customer.streetAddress}}, {{customer.city}} {{customer.province}} {{customer.country}}, {{customer.postalCode}}</td>
			<td>
				<a href="#/customer-details/{{customer.id}}">View Details</a>
			</td>
		</tr>
		<tr colspan="3" ng-show="customers.length == 0"><td>Please create some customers</td></tr>
	</tbody>
	<tfoot>
		<td colspan="3"></td>
	</tfoot>
</table>